@{
    ViewData["Title"] = "Entry Submitted";
}

@model Mission06_adfish.Models.Movie
<div>
    <h1>
        Entry Submitted
    </h1>
    <p>
        Thank you for your movie submission!
        <br />
        @Model.Title has been added to the database!
    </p>

</div>