@{
    ViewData["Title"] = "My Podcast";
}

<div>
    <h1>
        Check out My Podcast!
    </h1>
    <p>
        I have a Pop-Culture Podcast called Baconsale. Check it out <a href="https://baconsale.com">here</a>!
    </p>
</div>
